    <div class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="featured">
    					<div class="row">
    						<div class="col-md-3">
    							<div class="featured-menus">
                                    <div class="menu-img"><img src="./assets/images/breakfast-1.jpg" width="180px" height="160px" style="border-radius: 80%;"></div>
			                        <div class="text">
		                                <h3>Grilled Beef with potatoes</h3>
				                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
			                        </div>
			                    </div>
    						</div>
    						<div class="col-md-3">
    							<div class="featured-menus">
			                        <div class="menu-img"><img src="./assets/images/breakfast-2.jpg" width="180px" height="160px" style="border-radius: 80%;"></div>
			                        <div class="text">
		                                <h3>Grilled Beef with potatoes</h3>
				                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
			                        </div>
			                    </div>
    						</div>
    						<div class="col-md-3">
    							<div class="featured-menus">
			                        <div class="menu-img"><img src="./assets/images/breakfast-3.jpg" width="180px" height="160px" style="border-radius: 80%;"></div>
			                        <div class="text">
		                                <h3>Grilled Beef with potatoes</h3>
				                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
			                        </div>
			                    </div>
    						</div>
    						<div class="col-md-3">
    							<div class="featured-menus">
			                        <div class="menu-img"><img src="./assets/images/breakfast-4.jpg" width="180px" height="160px" style="border-radius: 80%;"></div>
			                        <div class="text">
		                                <h3>Grilled Beef with potatoes</h3>
				                        <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
			                        </div>
			                    </div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
	

	<div class="ftco-section">
		<div class="container">
			<div class="row">
        		<div class="col-md-7">
                    <div class="img1"><img src="assets/images/about.jpg" width="350px" height="500px"></div>
					<div class="img2"><img src="assets/images/about-1.jpg" width="350px" height="500px"></div>
				</div>
			    <div class="col-md-5">
	                <div class="heading-section">
                        <span class="subheading">About</span>
	                    <h2 class="mb-4"><b>Feliciano<br>Restaurant</b></h2>
	                </div>
	                <p class="menu-2">A small river named Duden flows by their place & supplies
                        <br>it with the necessary regelialia. 
                        <br>It is a paradisematic country, 
                        <br>in which roasted parts of sentences fly into your mouth.</p>
				    <p class="time">
					    <span>Mon - Fri <strong>8 AM - 11 PM</strong></span>
					    <span><br><a href="#">+ 1-978-123-4567</a></span>
				    </p>
		        </div>
			</div>
		</div>
    </div>
    
