<div class="ftco-section">
	<div class="container">
		<div class="row">
    		<div class="col-md-7">
                <div class="img1"><img src="assets/images/about.jpg" width="350px" height="500px"></div>
				<div class="img2"><img src="assets/images/about-1.jpg" width="350px" height="500px"></div>
			</div>
			<div class="col-md-5">
	            <div class="heading-section">
                    <span class="subheading">About</span>
                    <h2 class="mb-4"><b>Feliciano<br>Restaurant</b></h2>
	            </div>
	            <p class="menu-2">A small river named Duden flows by their place<br>& supplies it with the necessary regelialia. 
                    <br>It is a paradisematic country, in which<br>roasted parts of sentences fly into your mouth.</p>
			    <p class="time">
				    <span>Mon - Fri <strong>8 AM - 11 PM</strong></span>
				    <span><br><a href="#">+ 1-978-123-4567</a></span>
			    </p>
		    </div>
		</div>
    </div>
</div>

<div class="ftco-section">
        <div class="container2">
            <div class="row1">
                <div class="col-md-12">
                    <span class="subheading2">Chef</span>
                    <h2 class="mb-5">Our Master Chef</h2>
                </div>
            </div>	
            <div class="row2">
                <div class="col-md-6">
                    <div class="staff">
                        <div class="img">
                            <img src="./assets/images/chef-4.jpg" width="279px" height="450px">
                            <div class="overlay">
                                Lorem Ipsum is simply dummy text 
                                <br>of the printing and typesetting 
                                <br>industry. Lorem Ipsum has been 
                                <br>the industry's standard dummy 
                                <br>text ever since the 1500s, when
                                <br>an unknown printer took a galley
                                <br>of type and scrambled it to make 
                                <br>a type specimen book.
                            </div>
                        </div>
                        <div class="text pt-4">
                            <h3>John Smooth</h3>
                            <span class="position">Restaurant Owner</span>
                            <!--<div class="faded">
                                <ul class="ftco-social">
                                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                  </ul>
                              </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="staff">
                        <div class="img">
                            <img src="./assets/images/chef-2.jpg" width="279px" height="450px">
                            <div class="overlay">
                                Lorem Ipsum is simply dummy text 
                                <br>of the printing and typesetting 
                                <br>industry. Lorem Ipsum has been 
                                <br>the industry's standard dummy 
                                <br>text ever since the 1500s, when
                                <br>an unknown printer took a galley
                                <br>of type and scrambled it to make 
                                <br>a type specimen book.
                            </div>
                        </div>
                        <div class="text">
                            <h3>Rebeca Welson</h3>
                            <span class="position">Head Chef</span>
                            <!--<div class="faded">
                                <ul class="ftco-social">
                                       <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                       <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                       <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                       <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="staff">
                        <div class="img">
                            <img src="./assets/images/chef-3.jpg" width="279px" height="450px">
                            <div class="overlay">
                                Lorem Ipsum is simply dummy text 
                                <br>of the printing and typesetting 
                                <br>industry. Lorem Ipsum has been 
                                <br>the industry's standard dummy 
                                <br>text ever since the 1500s, when
                                <br>an unknown printer took a galley
                                <br>of type and scrambled it to make 
                                <br>a type specimen book.
                            </div>
                        </div>
                        <div class="text">
                            <h3>Kharl Branyt</h3>
                            <span class="position">Chef</span>
                            <!--<div class="faded">
                                <ul class="ftco-social">
                                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="staff">
                        <div class="img">
                            <img src="./assets/images/chef-1.jpg" width="279px" height="450px">
                            <div class="overlay">
                                Lorem Ipsum is simply dummy text 
                                <br>of the printing and typesetting 
                                <br>industry. Lorem Ipsum has been 
                                <br>the industry's standard dummy 
                                <br>text ever since the 1500s, when
                                <br>an unknown printer took a galley
                                <br>of type and scrambled it to make 
                                <br>a type specimen book.
                            </div>
                        </div>
                        <div class="text">
                            <h3>Luke Simon</h3>
                            <span class="position">Chef</span>
                            <!--<div class="faded">
                                <ul class="ftco-social">
                                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                       <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                       <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                  </ul>
                              </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
