<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
<div class="body">
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28212.921324315277!2d78.04499927889857!3d27.883089594027386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3974a5383f2831cd%3A0x56326927e7952e6c!2sStarlite%20Restaurant!5e0!3m2!1sen!2sin!4v1603108528197!5m2!1sen!2sin" width="750" height="510" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="#">
                        <div class="form-group">
                            <h2 class="h4">Contact Us</h2>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="6" class="form-control1" placeholder="Message" style="border-radius: 10px;padding: 10px 0px 0px 20px;font-size: 20px;"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h2 class="h5">Contact Information</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3">
                    <div class="dbox">
                        <p><span>Address:</span> 198 West 21th Street,<br>Suite 721 New York NY 10016</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dbox">
                        <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dbox">
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dbox">
                        <p><span>Website</span> <a href="#">yoursite.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>