<section class="ftco-section">
  <div class="container">
    <div class="row1">
      <div class="col-md-12-nav">
        <div class="nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Breakfast</a>
          <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Lunch</a>
          <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Dinner</a>
          <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Drinks</a>
          <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Desserts</a>
          <a class="nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab" aria-controls="v-pills-6" aria-selected="false">Wine</a>
        </div>
      </div>
    </div>
    <div class="row2">
        <div class="col-md-12-tab">
          <div class="col-md-12">
            <div class="new3">
              <div class="menus">
              <div class="menu-img"><img src="./assets/images/breakfast-1.jpg" width="250px" height="200px"></div>
              <div class="text">
                  <div class="d-flex">
                      <div class="one-half">
                          <h3>Grilled Beef with potatoes</h3>
                      </div>
                      <div class="one-forth">
                          <span class="price">$29</span>
                      </div>
                  </div>
                  <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                  <p><a href="#" class="btn">Order now</a></p>
                </div>
              </div>
              <div class="menus">
                <div class="menu-img"><img src="./assets/images/breakfast-4.jpg" width="250px" height="200px"></div>
                <div class="text">
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>Grilled Beef with potatoes</h3>
                        </div>
                        <div class="one-forth">
                            <span class="price">$29</span>
                        </div>
                    </div>
                    <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    <p><a href="#" class="btn">Order now</a></p>
                </div>
              </div>
            </div>
            <div class="new3">
              <div class="menus">
                <div class="text">
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>Grilled Beef with potatoes</h3>
                        </div>
                        <div class="one-forth">
                            <span class="price">$29</span>
                        </div>
                    </div>
                    <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    <p><a href="#" class="btn">Order now</a></p>
                </div>
                <div class="menu-img"><img src="./assets/images/breakfast-2.jpg" width="250px" height="200px"></div>
              </div>
              <div class="menus">
                <div class="text">
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>Grilled Beef with potatoes</h3>
                        </div>
                        <div class="one-forth">
                            <span class="price">$29</span>
                        </div>
                    </div>
                    <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    <p><a href="#" class="btn">Order now</a></p>
                </div>
                <div class="menu-img"><img src="./assets/images/breakfast-3.jpg" width="250px" height="200px"></div>
              </div>
            </div>
            <div class="new3">
                <div class="menus">
                <div class="menu-img"><img src="./assets/images/breakfast-7.jpg" width="250px" height="200px"></div>
                <div class="text">
                    <div class="d-flex">
                        <div class="one-half">
                            <h3>Grilled Beef with potatoes</h3>
                        </div>
                        <div class="one-forth">
                            <span class="price">$29</span>
                        </div>
                    </div>
                    <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                    <p><a href="#" class="btn">Order now</a></p>
                  </div>
                </div>
                <div class="menus">
                  <div class="menu-img"><img src="./assets/images/breakfast-5.jpg" width="250px" height="200px"></div>
                  <div class="text">
                      <div class="d-flex">
                          <div class="one-half">
                              <h3>Grilled Beef with potatoes</h3>
                          </div>
                          <div class="one-forth">
                              <span class="price">$29</span>
                          </div>
                      </div>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                      <p><a href="#" class="btn">Order now</a></p>
                  </div>
                </div>
              </div>
              <div class="new3">
                <div class="menus">
                  <div class="text">
                      <div class="d-flex">
                          <div class="one-half">
                              <h3>Grilled Beef with potatoes</h3>
                          </div>
                          <div class="one-forth">
                              <span class="price">$29</span>
                          </div>
                      </div>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                      <p><a href="#" class="btn">Order now</a></p>
                  </div>
                  <div class="menu-img"><img src="./assets/images/breakfast-6.jpg" width="250px" height="200px"></div>
                </div>
                <div class="menus">
                  <div class="text">
                      <div class="d-flex">
                          <div class="one-half">
                              <h3>Grilled Beef with potatoes</h3>
                          </div>
                          <div class="one-forth">
                              <span class="price">$29</span>
                          </div>
                      </div>
                      <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                      <p><a href="#" class="btn">Order now</a></p>
                  </div>
                  <div class="menu-img"><img src="./assets/images/breakfast-8.jpg" width="250px" height="200px"></div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</section>
