		<div class="container">
			<div class="row">
          		<div class="col-md-12">
          			<span class="subheading">Services</span>
        			<h2 class="mb-4">Catering Services</h2>
      			</div>
        	</div>
        	<div class="row">
          		<div class="col-md-4">
            		<div class="media">
                        <div class="menu-img"><img src="./assets/images/birthday_party.jpg" width="180px" height="160px" style="border-radius: 80%;"></div>
          				<div class="media-body">
            				<h3 class="heading">Birthday Party</h3>
            				<p>Even the all-powerful Pointing<br>has no control about the blind texts<br>it is an almost unorthographic.</p>
          				</div>
        			</div>      
          		</div>
          		<div class="col-md-4">
        			<div class="media">
                        <div class="menu-img"><img src="./assets/images/bussiness_meeting.jpg" width="180px" height="160px" style="border-radius: 80%;"></div>
          				<div class="media-body">
            				<h3 class="heading">Business Meetings</h3>
                			<p>Even the all-powerful Pointing<br>has no control about the blind texts<br>it is an almost unorthographic.</p>
          				</div>
        			</div>    
          		</div>
          		<div class="col-md-4">
        			<div class="media">
                        <div class="menu-img"><img src="./assets/images/weeding.jpg" width="180px" height="160px" style="border-radius: 80%;"></div>
              			<div class="media-body">
                			<h3 class="heading">Wedding Party</h3>
                			<p>Even the all-powerful Pointing<br>has no control about the blind texts<br>it is an almost unorthographic.</p>
          				</div>
        			</div>      
        		</div>
        	</div>
		</div>
